<%- include("partials/header"); %>
<h1>Welcome <%= firstName %> <%= lastName %></h1>
<% images.forEach((image) => { %>
  <img src="<%= image %>" alt="nature_pic">
  <% let num = images.indexOf(image); %>
  <p><%= quotes[num] %></p>
<% }); %>



<%- include("partials/footer") %>
